#!/bin/sh
# Just aliases
##############

# Git
git_interactive_rebase (){
  git rebase -i HEAD~$1
}

alias gs="git status"
alias gb="git checkout -b"
alias gr="git pull --rebase"
alias gri="git_interactive_rebase"
alias gp="git push"
alias gpf="git push -f"
alias gh="echo \"\
  gs = git status \n
  gb = git checkout -b \n
  gr = git pull --rebase \n
  gp = git push \n
  gp = git push -f \n
  gri = git rebase -i HEAD~\
  \""
